 /* General styling*/
    body {
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        line-height: 1.5em;
        background-color: bisque;
    }

    /* Here is style for the navigation bar */
        .Navbar {
            display: flex;
            justify-content: center;
            flex-direction: row;
        }

        .Buttons {
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
        }

        .Buttons > .nav-item {
            margin: 1.5em;
            font-family: 'Homemade Apple', cursive;
            text-decoration: none;
            color: black;
        }

    /* Here is styling for the jumbotron */
        #jumbotron > .text > h1{
            display: flex;
            justify-content: center;
            font-family: 'Homemade Apple', cursive;
        }

        #jumbotron > .text > h3{
            display: flex;
            justify-content: center;
            color: black;
        }

    /* Here is styling for the about section */

        #about > .text > h3{
            display: flex;
            justify-content: center;
            font-family: 'Homemade Apple', cursive;
        }

        #about > .text > p{
            display: flex;
            justify-content: center;
        }

    /* Here is styling for the tweet */

        #about > .text > h1{
            display: flex;
            justify-content: center;
            font-family: 'Homemade Apple', cursive;
        }

        